.cast-item-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  margin: 0px 15px 15px 0px;
}

.cast-image {
  width: 100%;
}

.main-name-ci {
  margin: 0px;
  font-size: 14px;
  font-family: 'Bree Serif';
}

.character-name-ci {
  color: grey;
}
