.page-div-spm {
  padding: 20px;
  background-color: #cea8e3;
  min-height: 100vh;
  font-family: 'Roboto';
}

.main-heading-spm {
  margin: 0px;
  padding: 0px;
  font-style: italic;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.movie-details-container-spm {
  display: flex;
  flex-direction: column;
}

.movie-image-spm {
  height: 180px;
  width: 150px;
  align-self: center;
}

.movie-content-spm {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.movie-name-spm {
  font-family: 'Bree Serif';
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  align-self: center;
  margin-bottom: 15px;
}

.other-movie-item-spm {
  font-family: 'Roboto';
  margin: 0px;
}

.genre-item-spm {
  margin-right: 7px;
}

.content-container-spm {
  display: flex;
  margin-bottom: 8px;
}

.genre-values-container-spm {
  padding: 0px;
  margin: 0px;
}

.content-heading-spm {
  font-weight: bold;
  font-style: italic;
  margin-right: 10px;
  font-family: 'Roboto';
  margin: 0px;
}

.buffer-container-spm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #cea8e3;
}

.cast-container-spm {
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
