.div-container-header {
  padding: 15px;
  font-family: 'Roboto';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basic-button-header {
  background-color: transparent;
  border-style: none;
  @media (min-width: 768px) {
    display: none;
  }
}

.hamburger-icon {
  color: white;
  font-size: 20px;
}

.heading-header {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: 'Bree Serif';
  font-size: 20px;
}

.main-container-header {
  background-color: #963bc4;
}

.mobile-options-container {
  padding: 0 15px 15px 15px;
  margin: 0px;
  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-option-item {
  list-style-type: none;
  margin-bottom: 0px;
}

.horizontal-line-header {
  margin: 5px 0px 5px 0px;
}

.link-item-header {
  color: white;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  padding: 0px 0px 0px 5px;
}

.large-options-container {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  width: 230px;
  @media (min-width: 768px) {
    display: flex;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.large-option-item {
  list-style-type: none;
  margin-bottom: 0px;
}

.large-item {
  color: white;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 15px;
  padding: 0px 0px 0px 5px;
}

.search-box-container {
  display: flex;
  align-items: center;
  background-color: grey;
  border-radius: 8px;
  width: 240px;
}

.search-box {
  border-radius: 8px 0px 0px 8px;
  padding: 10px;
  outline: none;
  border-style: none;
}

.search-icon {
  margin: 0px 12px;
  color: white;
}

.no-border-button {
  border-style: none;
  background-color: transparent;
}

.large-scn-search-box {
  @media (max-width: 767px) {
    display: none;
  }
}

.small-scn-search-box {
  margin-bottom: 10px;
}
